    <label style="margin:0px">Dane wizyty:</label>
    <div class="row row-term sel-item-info">
      <span class="badge badge_from">Strzyżenie męskie</span>
      <span class="badge badge_from">Dowolny Pracownik</span>
      <span class="badge badge_from">2.12</span>
      <span class="badge badge_from">10:00</span>

    </div>
    <form class="row" [formGroup]="myForm" (ngSubmit)="addPost(myForm.value)">
      <div class="col-12 col-sm-6 form-group form_formularz">
        <label for="exampleFormControlInput1">Imię</label>
        <input formControlName="name" type="text" class="form-control" id="exampleFormControlInput1">
      </div>
      <div class="col-12 col-sm-6 form-group form_formularz">
        <label for="exampleFormControlInput1">Nazwisko</label>
        <input type="email" class="form-control" id="exampleFormControlInput1">
      </div>
      <div class="col-12 col-sm-6 form-group form_formularz">
        <label for="exampleFormControlInput1">E-mail</label>
        <input type="email" class="form-control" id="exampleFormControlInput1">
      </div>
      <div class="col-12 col-sm-6 form-group form_formularz">
        <label for="exampleFormControlInput1">Telefon</label>
        <input type="email" class="form-control" id="exampleFormControlInput1">
      </div>
    </form>
    <div class="row row-term row-text row-nav-link-back">
      <div class="col-6"><button type="button" class="btn step back" (click)="goToPrevious()">Wstecz</button></div>
      <div class="col-6"><button type="button" class="btn step next" routerLink="/confirmation" >Rezerwuj</button></div>
    </div><br /><br />
