<div id="mainContainer">
  <div id="context" class="container" >  <!--container-fluid  jesli chcemy zeby nawet na duzych ekranach cos rozciagało sie na cały ekran 21:9-->
    <h1 class="display-4">Formularz</h1>
    <div class="progress_bar">
      <div class="liner"></div>
      <div class="progress_bar_step">
        <div class="progress_bar_step_circle"><i id="check_icon" class="fas fa-check"></i></div>
        <div class="progress_bar_step_title">Wizyta</div>
      </div>
      <div class="progress_bar_step">
        <div class="progress_bar_step_circle"><i id="check_icon" class="fas fa-check"></i></div>
        <div class="progress_bar_step_title">Termin</div>
      </div>
      <div class="progress_bar_step">
        <div class="progress_bar_step_circle progressbar_active">3</div>
        <div class="progress_bar_step_title">Podsumowanie</div>
      </div>
    </div>
    <label style="margin:0px">Dane wizyty:</label>
    <div class="row row-term sel-item-info">
      <span class="badge badge_from">Strzyżenie męskie</span>
      <span class="badge badge_from">Dowolny Pracownik</span>
      <span class="badge badge_from">2.12</span>
      <span class="badge badge_from">10:00</span>

    </div>
    <div class="row">
      <div class="col-12 col-sm-6 form-group form_formularz">
        <label for="exampleFormControlInput1">Imię</label>
        <input type="email" class="form-control" id="exampleFormControlInput1">
      </div>
      <div class="col-12 col-sm-6 form-group form_formularz">
        <label for="exampleFormControlInput1">Nazwisko</label>
        <input type="email" class="form-control" id="exampleFormControlInput1">
      </div>
      <div class="col-12 col-sm-6 form-group form_formularz">
        <label for="exampleFormControlInput1">E-mail</label>
        <input type="email" class="form-control" id="exampleFormControlInput1">
      </div>
      <div class="col-12 col-sm-6 form-group form_formularz">
        <label for="exampleFormControlInput1">Telefon</label>
        <input type="email" class="form-control" id="exampleFormControlInput1">
      </div>
    </div>
    <div class="row row-term row-text row-nav-link-back">
      <div class="col-6"><button type="button" class="btn step back" routerLink="/term">Wstecz</button></div>
      <div class="col-6"><button type="button" class="btn step next" routerLink="/confirmation">Rezerwuj</button></div>
    </div><br /><br />
  </div>
</div>
