<div class="row row-term sel-item-info">
  Usługa:
  <button type="button" class="btn btn-selected-items">{{ service.serviceType }}</button>
  <button type="button" class="btn btn-selected-items">{{ service.price }}</button>
</div>
<div class="row row-term sel-item-info">
  Pracownik:
  <div class="dropdown">
    <button class="btn btn-selected-items dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dowolny Pracownik
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Joanna Belka</a>
      <a class="dropdown-item" href="#">Nadia Blada</a>
      <a class="dropdown-item" href="#">Zuzanna Łysa</a>
    </div>
  </div>
</div>
<div class="row row-term row-text" style="margin-bottom:20px;">
  <div class="col">Wybierz datę i godzinę:</div>
</div>
<date-select></date-select>
<div class="row row-term row-text row-nav-link-back">
  <div class="col-6"><button type="button" class="btn step back" (click)="goToPrevious()">Wstecz</button></div>
  <div class="col-6"><button type="button" class="btn step next" (click)="goToNext(hour)">Dalej</button></div>
</div><br /><br />