<div id="mainContainer">
  <div id="context" class="container" >  <!--container-fluid  jesli chcemy zeby nawet na duzych ekranach cos rozciagało sie na cały ekran 21:9-->
    <h1 class="display-4">Rezerwacja</h1>
    <div class="progress_bar">
      <div class="liner"></div>
      <div class="progress_bar_step">
        <div class="progress_bar_step_circle progressbar_active">1</div>
        <div class="progress_bar_step_title">Wizyta</div>
      </div>
      <div class="progress_bar_step">
        <div class="progress_bar_step_circle progressbar_before">2</div>
        <div class="progress_bar_step_title">Termin</div>
      </div>
      <div class="progress_bar_step">
        <div class="progress_bar_step_circle progressbar_before">3</div>
        <div class="progress_bar_step_title">Podsumowanie</div>
      </div>
    </div>
    <div class="row row-term sel-item-info">
      <div class="col-12 col-sm-6 col-md-3 service">{{strzyzenie.name}}</div>
      <div class="col-12 col-sm-6 col-md-3 service"><i class="far fa-clock icon"></i>{{strzyzenie.time}}</div>
      <div class="col-12 col-sm-6 col-md-3 service"><i class="fas fa-dollar-sign icon"></i>{{strzyzenie.price}}</div>
      <div class="col-12 col-sm-6 col-md-3 service"><a routerLink="/term"><button type="button" class="btn btn-selected-items">Wybierz</button></a></div>
    </div>
    <div class="row row-term sel-item-info">
      <div class="col-12 col-sm-6 col-md-3 service">Strzyżenie męskie + mycie włosów</div>
      <div class="col-12 col-sm-6 col-md-3 service"><i class="far fa-clock icon"></i>20-30 min</div>
      <div class="col-12 col-sm-6 col-md-3 service"><i class="fas fa-dollar-sign icon"></i>20-30 zł</div>
      <div class="col-12 col-sm-6 col-md-3 service"><a routerLink="/term"><button type="button" class="btn btn-selected-items">Wybierz</button></a></div>
    </div>
    <div class="row row-term sel-item-info">
      <div class="col-12 col-sm-6 col-md-3 service">Strzyżenie męskie</div>
      <div class="col-12 col-sm-6 col-md-3 service"><i class="far fa-clock icon"></i>20-30 min</div>
      <div class="col-12 col-sm-6 col-md-3 service"><i class="fas fa-dollar-sign icon"></i>20-30 zł</div>
      <div class="col-12 col-sm-6 col-md-3 service"><a routerLink="/term"><button type="button" class="btn btn-selected-items">Wybierz</button></a></div>
    </div>
    <div class="row row-term sel-item-info">
      <div class="col-12 col-sm-6 col-md-3 service">Strzyżenie męskie</div>
      <div class="col-12 col-sm-6 col-md-3 service"><i class="far fa-clock icon"></i>20-30 min</div>
      <div class="col-12 col-sm-6 col-md-3 service"><i class="fas fa-dollar-sign icon"></i>20-30 zł</div>
      <div class="col-12 col-sm-6 col-md-3 service"><a routerLink="/term"><button type="button" class="btn btn-selected-items">Wybierz</button></a></div>
    </div>
  </div>
</div>
