    <div class="row row-term sel-item-info">
      <div id="serviceType" class="col-12 col-sm-6 col-md-3 service">{{strzyzenie.name}}</div>
      <div class="col-12 col-sm-6 col-md-3 service"><i class="far fa-clock icon"></i>{{strzyzenie.time}}</div>
      <div class="col-12 col-sm-6 col-md-3 service"><i class="fas fa-dollar-sign icon"></i>{{strzyzenie.price}}</div>
      <div class="col-12 col-sm-6 col-md-3 service"><a routerLink="/term"><button type="button" class="btn btn-selected-items">Wybierz</button></a></div>
    </div>
    <div class="row row-term sel-item-info">
      <div class="col-12 col-sm-6 col-md-3 service">Strzyżenie męskie + mycie włosów</div>
      <div class="col-12 col-sm-6 col-md-3 service"><i class="far fa-clock icon"></i>20-30 min</div>
      <div class="col-12 col-sm-6 col-md-3 service"><i class="fas fa-dollar-sign icon"></i>20-30 zł</div>
      <div class="col-12 col-sm-6 col-md-3 service"><a routerLink="/term"><button type="button" class="btn btn-selected-items">Wybierz</button></a></div>
    </div>
    <div class="row row-term sel-item-info">
      <div class="col-12 col-sm-6 col-md-3 service">Strzyżenie męskie</div>
      <div class="col-12 col-sm-6 col-md-3 service"><i class="far fa-clock icon"></i>20-30 min</div>
      <div class="col-12 col-sm-6 col-md-3 service"><i class="fas fa-dollar-sign icon"></i>20-30 zł</div>
      <div class="col-12 col-sm-6 col-md-3 service"><a routerLink="/term"><button type="button" class="btn btn-selected-items">Wybierz</button></a></div>
    </div>
    <div class="row row-term sel-item-info">
      <div class="col-12 col-sm-6 col-md-3 service">Strzyżenie męskie</div>
      <div class="col-12 col-sm-6 col-md-3 service"><i class="far fa-clock icon"></i>20-30 min</div>
      <div class="col-12 col-sm-6 col-md-3 service"><i class="fas fa-dollar-sign icon"></i>20-30 zł</div>
      <div class="col-12 col-sm-6 col-md-3 service"><a routerLink="/term"><button type="button" class="btn btn-selected-items">Wybierz</button></a></div>
    </div>
