<div id="mainContainer">
  <div id="context" class="container" >  <!--container-fluid  jesli chcemy zeby nawet na duzych ekranach cos rozciagało sie na cały ekran 21:9-->
    <h1 class="display-4">Rezerwacja</h1>
    <ul class="progressbar">
      <li class="active2">Wizyta</li>
      <li>Termin</li>
      <li>Dane</li>
    </ul>
    <div class="row row-term sel-item-info">
      <div class="col-12 col-sm-6 col-md-3 service">Strzyżenie męskie</div>
      <div class="col-12 col-sm-6 col-md-3 service"><i class="far fa-clock icon"></i>20-30 min</div>
      <div class="col-12 col-sm-6 col-md-3 service"><i class="fas fa-dollar-sign icon"></i>20-30 zł</div>
      <div class="col-12 col-sm-6 col-md-3 service"><a routerLink="/term"><button type="button" class="btn btn-selected-items">Wybierz</button></a></div>
    </div>
    <div class="row row-term sel-item-info">
      <div class="col-12 col-sm-6 col-md-3 service">Strzyżenie męskie + mycie włosów</div>
      <div class="col-12 col-sm-6 col-md-3 service"><i class="far fa-clock icon"></i>20-30 min</div>
      <div class="col-12 col-sm-6 col-md-3 service"><i class="fas fa-dollar-sign icon"></i>20-30 zł</div>
      <div class="col-12 col-sm-6 col-md-3 service"><a routerLink="/term"><button type="button" class="btn btn-selected-items">Wybierz</button></a></div>
    </div>
    <div class="row row-term sel-item-info">
      <div class="col-12 col-sm-6 col-md-3 service">Strzyżenie męskie</div>
      <div class="col-12 col-sm-6 col-md-3 service"><i class="far fa-clock icon"></i>20-30 min</div>
      <div class="col-12 col-sm-6 col-md-3 service"><i class="fas fa-dollar-sign icon"></i>20-30 zł</div>
      <div class="col-12 col-sm-6 col-md-3 service"><a routerLink="/term"><button type="button" class="btn btn-selected-items">Wybierz</button></a></div>
    </div>
    <div class="row row-term sel-item-info">
      <div class="col-12 col-sm-6 col-md-3 service">Strzyżenie męskie</div>
      <div class="col-12 col-sm-6 col-md-3 service"><i class="far fa-clock icon"></i>20-30 min</div>
      <div class="col-12 col-sm-6 col-md-3 service"><i class="fas fa-dollar-sign icon"></i>20-30 zł</div>
      <div class="col-12 col-sm-6 col-md-3 service"><a routerLink="/term"><button type="button" class="btn btn-selected-items">Wybierz</button></a></div>
    </div>
  </div>
</div>
