<div class="row row-term row-date-selector">
  <div id="selectLeft" class="col-1 btn btn-arrow-left dateSelectorArrows" (click)="dateSelectLeft()"> < </div>
  <div id="dateCol1" class="col-2 border dateSelector" (click)="selectDate($event)">29.11</div>
  <div id="dateCol2" class="col-2 border dateSelector" (click)="selectDate($event)">30.11</div>
  <div id="dateCol3" class="col-2 border dateSelector active" (click)="selectDate($event)">01.12</div>
  <div id="dateCol4" class="col-2 border dateSelector" (click)="selectDate($event)">02.12</div>
  <div id="dateCol5" class="col-2 border dateSelector" (click)="selectDate($event)">03.12</div>
  <div id="selectRight" class="col-1 btn btn-info btn-arrow-right dateSelectorArrows" (click)="dateSelectRight()"> > </div>
</div>