<div class="row row-term row-date-selector">
  <div id="selectLeft" class="col-1 btn btn-arrow-left dateSelectorArrows" (click)="dateSelectLeft()"> < </div>
  <div id="dateCol1" class="col-2 border dateSelector" (click)="selectDate($event)"></div>
  <div id="dateCol2" class="col-2 border dateSelector" (click)="selectDate($event)"></div>
  <div id="dateCol3" class="col-2 border dateSelector active" (click)="selectDate($event)"></div>
  <div id="dateCol4" class="col-2 border dateSelector" (click)="selectDate($event)"></div>
  <div id="dateCol5" class="col-2 border dateSelector" (click)="selectDate($event)"></div>
  <div id="selectRight" class="col-1 btn btn-info btn-arrow-right dateSelectorArrows" (click)="dateSelectRight()"> > </div>
</div>
<div class="row row-term">
  <div class="col timeSelector">
    <button *ngFor="let hour of hours; index as i" attr.id="hourBtn{{i}}" type="button" class="btn btn-time" (click)="selectTime($event)">{{hour}}</button>
  </div>
</div>