<div class="progress_bar">
  <div class="liner"></div>
  <div class="progress_bar_step">
    <div class="progress_bar_step_circle {{ step==0 ? 'progressbar_active' : ''}}">
      <i *ngIf="step!=0 ; else elseBlock" id="check_icon" class="fas fa-check"></i>
      <ng-template #elseBlock>1</ng-template>
    </div>
    <div class="progress_bar_step_title">Wizyta</div>
  </div>
  <div class="progress_bar_step">
    <div class="progress_bar_step_circle  {{ step==1 ? '' : 'progressbar_active'}}"><i *ngIf="step==1" id="check_icon" class="fas fa-check"></i></div>
    <div class="progress_bar_step_title">Termin</div>
  </div>
  <div class="progress_bar_step">
    <div class="progress_bar_step_circle progressbar_before"><i *ngIf="step==2" id="check_icon" class="fas fa-check"></i></div>
    <div class="progress_bar_step_title">Podsumowanie</div>
  </div>
</div>
